@import "colors.scss";

body {
    background-color: $bg-primary;

    .spinner-container {
      height: 100vh;
      width: 100vw;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5%;
    }
}